.sec{
  margin-top: 10px;
}
.section__title{
  margin-top: 10px;
}
.space{
  margin-bottom: 5px;
}


.skills__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  width: 100vw;
  height: 100vh;
  background: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  padding: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skill {
  width: 100%;
  margin: 10px 0;
}

.title {
  color: #fff;
  font-weight: 700;
}

.progress-bar {
  background: #45A29E;
  border-radius: 3px;
  width: 100%;
  height: 15px;
  margin-top: 5px;
/*   overflow: hidden; */
}


#html .progress {
  max-width: 90%;
  height: 100%;
  background: #45A29E;
  border-radius: 3px;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#html .progress::after {  
  content: "90%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#html .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

#css .progress {
  max-width: 70%;
  height: 100%;
  background: #45A29E;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#css .progress::after {
  content: "70%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#css .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

#js .progress {
  max-width: 60%;
  height: 100%;
  background: #45A29E;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#js .progress::after {
  content: "60%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#js .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

@keyframes loadBars{
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
  
}